.Sidebar {
  $sidebar-width: 300px;

  display: grid;
  min-height: 100vh;
  position: relative;

  &__sidebar-section {
    background-color: $color-gray-300;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    width: $sidebar-width;
    overflow: auto;

    &::after {
      position: absolute;
      left: 100%;
      right: 0;
      top: 0;
      bottom: 0;
      background: $sidebar-border-background;
      transform: translateX(-100%);
      width: 10px;
      content: "";
    }

    & > * {
      margin: $margin-xl $margin-sm;
    }
  }

  &__main-section {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: $sidebar-width;
    overflow: auto;
  }
}
